.page {
  min-height: 100vh;
  background: #eef1f6;
  // padding: 0 0 5rem;
}

.container {
  width: min(390px, 100%);
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100%;
}
