.page {
  min-height: 100vh;
  background: #eef1f6;
  display: flex;
  flex-direction: column;
  // padding: 0 0 5rem;
}

.container {
  width: min(390px, 100%);
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-height: 100vh;
  overflow-y: auto;
  flex: 1;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
