{"openapi":"3.1.0","info":{"title":"일출(ilchul) API Specification","description":"일출 백엔드 서버 API 명세서입니다.","version":"v1.0.0"},"servers":[{"url":"http://il-chul.com","description":"Generated server url"}],"security":[{"jwtAuth":[]}],"tags":[{"name":"고객 문의","description":"고객 문의 작성, 수정, 삭제, 조회 및 답변 관련 API"},{"name":"신고","description":"신고 관련 API"},{"name":"좋아요","description":"플랜 좋아요 관련 API"},{"name":"인증","description":"사용자 인증, 로그아웃, 토큰 재발급 및 회원 탈퇴 관련 API"},{"name":"마이페이지","description":"마이페이지 관련 API"},{"name":"댓글","description":"플랜 댓글 작성, 수정, 삭제, 조회 및 좋아요 관련 API"},{"name":"플랜 스크랩","description":"플랜 스크랩 관련 API"},{"name":"플랜","description":"여행 플랜 관련 API"},{"name":"플랜 장소","description":"플랜 장소 미리보기, 수정 및 인증 스탬프 관련 API"},{"name":"장소","description":"장소 조회, 추천, 좋아요, 스크랩 및 후기 관련 API"},{"name":"최근 검색어","description":"최근 검색어 조회, 저장 및 삭제 관련 API"},{"name":"신고 관리(관리자)","description":"관리자용 신고 처리 API"}],"paths":{"/api/sign/logout":{"post":{"tags":["인증"],"summary":"로그아웃","description":"사용자의 리프레시 토큰을 삭제하고 인증 정보를 만료 처리합니다.","operationId":"logout","responses":{"204":{"description":"로그아웃이 성공적으로 처리되었습니다."}}}},"/api/report":{"post":{"tags":["신고"],"summary":"신고 생성","description":"특정 대상에 대한 신고를 생성합니다.","operationId":"postReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReportRequestDto"}}},"required":true},"responses":{"201":{"description":"신고가 성공적으로 생성되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateReportResponseDto"}}}}}}},"/api/reply/{planId}":{"get":{"tags":["댓글"],"summary":"플랜의 댓글 목록 조회","description":"특정 플랜에 작성된 댓글 목록을 페이징하여 조회합니다. (비로그인 사용자도 조회 가능)","operationId":"getReplies","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"lastReplyId","in":"query","description":"마지막으로 조회된 댓글 ID (커서 페이징용)","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"댓글 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyListResponse"}}}}}},"post":{"tags":["댓글"],"summary":"댓글 작성","description":"플랜에 새로운 댓글을 작성합니다.","operationId":"writeReply","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReplyRequestDto"}}},"required":true},"responses":{"201":{"description":"댓글이 성공적으로 작성되었습니다. (생성된 댓글 ID 반환)","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/reply/like/{replyId}":{"post":{"tags":["댓글"],"summary":"댓글 좋아요","description":"특정 댓글에 좋아요를 등록합니다.","operationId":"likeReply","parameters":[{"name":"replyId","in":"path","description":"좋아요할 댓글 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"좋아요가 성공적으로 등록되었습니다.","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}},"delete":{"tags":["댓글"],"summary":"댓글 좋아요 취소","description":"특정 댓글에 등록한 좋아요를 취소합니다.","operationId":"unlikeReply","parameters":[{"name":"replyId","in":"path","description":"좋아요를 취소할 댓글 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"좋아요가 성공적으로 취소되었습니다.","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/recent":{"get":{"tags":["최근 검색어"],"summary":"최근 검색어 조회","description":"로그인한 사용자의 최근 검색어 목록을 조회합니다.","operationId":"getRecentSearchLog","responses":{"200":{"description":"최근 검색어 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchLog"}}}}}}},"post":{"tags":["최근 검색어"],"summary":"최근 검색어 저장","description":"새로운 최근 검색어를 저장합니다.","operationId":"addRecentSearchLogs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchLogSaveRequest"}}},"required":true},"responses":{"200":{"description":"최근 검색어가 성공적으로 저장되었습니다."}}},"delete":{"tags":["최근 검색어"],"summary":"최근 검색어 삭제","description":"특정 최근 검색어 기록을 삭제합니다.","operationId":"removeRecentSearchLog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchLogDeleteRequest"}}},"required":true},"responses":{"204":{"description":"최근 검색어가 성공적으로 삭제되었습니다."}}}},"/api/plan/{planId}/images":{"post":{"tags":["플랜"],"summary":"플랜 이미지 업로드","description":"특정 플랜에 이미지를 업로드합니다.","operationId":"planImagesUpload","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"images","in":"query","description":"업로드할 이미지 목록","required":true,"schema":{"type":"array","items":{"type":"string","format":"binary"}}}],"responses":{"200":{"description":"플랜 이미지가 성공적으로 업로드되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanDetailDto"}}}}}},"delete":{"tags":["플랜"],"summary":"플랜 이미지 삭제","description":"특정 플랜에 등록된 이미지들을 삭제합니다.","operationId":"deleteImages","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"imageIds","in":"query","description":"삭제할 이미지 ID 목록","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}},"example":1}],"responses":{"200":{"description":"플랜 이미지가 성공적으로 삭제되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanDetailDto"}}}}}}},"/api/plan/{planId}/clone":{"post":{"tags":["플랜"],"summary":"플랜 복제","description":"특정 플랜을 복제하여 내 플랜으로 새로 생성합니다.","operationId":"copyPlan","parameters":[{"name":"planId","in":"path","description":"복제할 원본 플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanCopyRequestDto"}}},"required":true},"responses":{"201":{"description":"플랜이 성공적으로 복제되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanCopyResponseDto"}}}}}}},"/api/plan/scrapped/{planId}":{"post":{"tags":["플랜 스크랩"],"summary":"플랜 스크랩 등록","description":"특정 플랜을 내 스크랩 목록에 등록합니다.","operationId":"postPlanScrapped","parameters":[{"name":"planId","in":"path","description":"스크랩할 플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"플랜이 성공적으로 스크랩되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScrappedPlanCreateResponseDto"}}}}}}},"/api/plan/create":{"post":{"tags":["플랜"],"summary":"플랜 생성","description":"장소 목록을 포함한 새로운 플랜을 생성합니다.","operationId":"createPlan","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePlanRequestDto"}}},"required":true},"responses":{"201":{"description":"플랜이 성공적으로 생성되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatePlanResponseDto"}}}}}}},"/api/plan-place/{planPlaceId}/stamp":{"post":{"tags":["플랜 장소"],"summary":"플랜 장소 인증 스탬프 등록","description":"특정 플랜 장소에 방문 인증 스탬프와 이미지를 등록합니다.","operationId":"stampPlanPlace","parameters":[{"name":"planPlaceId","in":"path","description":"플랜 장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/StampPlanPlaceRequestDto"}}}},"responses":{"200":{"description":"플랜 장소 인증 스탬프가 성공적으로 등록되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StampPlanPlaceResponseDto"}}}}}}},"/api/plan-place/{planId}/update":{"post":{"tags":["플랜 장소"],"summary":"플랜 장소 수정","description":"기존 플랜에 포함된 장소 목록 및 순서 정보를 수정합니다.","operationId":"updatePlanPlace","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePlanPlaceRequestDto"}}},"required":true},"responses":{"200":{"description":"플랜 장소 정보가 성공적으로 수정되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdatePlanPlaceResponseDto"}}}}}}},"/api/plan-place/{planId}/preview":{"post":{"tags":["플랜 장소"],"operationId":"getUpdatePlanPreview","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePlanPlaceRequestDto"}}},"required":true},"responses":{"200":{"description":"플랜 수정 미리보기가 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdatePlanPreviewResponseDto"}}}}}}},"/api/plan-place/preview":{"post":{"tags":["플랜 장소"],"summary":"플랜 생성 전 미리보기","description":"플랜 생성 전 선택한 장소들을 기반으로 경로 및 소요 정보를 미리 계산합니다.","operationId":"getCreatePlanPreview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePlanPreviewRequestDto"}}},"required":true},"responses":{"200":{"description":"플랜 생성 미리보기가 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatePlanPreviewResponseDto"}}}}}}},"/api/place/{placeId}/scraps":{"post":{"tags":["장소"],"summary":"장소 스크랩 추가","description":"특정 장소를 스크랩(북마크) 목록에 추가합니다.","operationId":"scrapPlace","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"장소가 성공적으로 스크랩되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScrappedPlaceCreateResponseDto"}}}}}},"delete":{"tags":["장소"],"summary":"장소 스크랩 취소","description":"특정 장소의 스크랩을 취소합니다.","operationId":"unscrapPlace","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"스크랩이 성공적으로 취소되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScrappedPlaceCreateResponseDto"}}}}}}},"/api/place/{placeId}/review":{"get":{"tags":["장소"],"summary":"장소 후기 목록 조회","description":"특정 장소에 작성된 후기 목록을 페이징하여 조회합니다. (비로그인 사용자도 조회 가능)","operationId":"getPlaceReviews","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"lastReviewId","in":"query","description":"마지막으로 조회된 후기 ID (커서 페이징용)","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"limit","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10}],"responses":{"200":{"description":"후기 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaceReviewListResponseDto"}}}}}},"post":{"tags":["장소"],"summary":"장소 후기 작성","description":"특정 장소에 새로운 후기를 작성합니다.","operationId":"writePlaceReview","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceReviewRequestDto"}}},"required":true},"responses":{"201":{"description":"후기가 성공적으로 작성되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaceReviewResponseDto"}}}}}}},"/api/place/{placeId}/likes":{"post":{"tags":["장소"],"summary":"장소 좋아요 등록","description":"특정 장소에 좋아요를 등록합니다.","operationId":"likePlace","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"좋아요가 성공적으로 등록되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LikeResponseDto"}}}}}},"delete":{"tags":["장소"],"summary":"장소 좋아요 취소","description":"특정 장소에 등록된 좋아요를 취소합니다.","operationId":"unlikePlace","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"좋아요가 성공적으로 취소되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LikeResponseDto"}}}}}}},"/api/place/recommend":{"post":{"tags":["장소"],"summary":"장소 추천","description":"사용자 설문 결과를 기반으로 추천 장소 목록을 조회합니다.","operationId":"recommendPlace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SurveyResultDto"}}},"required":true},"responses":{"200":{"description":"추천 장소 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/mypage/plan/visibility/{planId}":{"post":{"tags":["마이페이지"],"summary":"내 플랜 공개 여부 변경","description":"내가 작성한 특정 플랜의 공개 여부를 전환합니다.","operationId":"setUserMyPlanVisibility","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"플랜 공개 여부가 성공적으로 변경되었습니다."},"304":{"description":"플랜 공개 여부가 변경되지 않았습니다."}}}},"/api/like/{planId}":{"post":{"tags":["좋아요"],"summary":"플랜 좋아요 등록","description":"특정 플랜에 좋아요를 등록합니다.","operationId":"likePlan","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"좋아요가 성공적으로 등록되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LikeResponseDto"}}}}}},"delete":{"tags":["좋아요"],"summary":"플랜 좋아요 취소","description":"특정 플랜에 등록된 좋아요를 취소합니다.","operationId":"unlikePlan","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"좋아요가 성공적으로 취소되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LikeResponseDto"}}}}}}},"/api/cs-inquiry":{"get":{"tags":["고객 문의"],"summary":"문의사항 목록 조회 (관리자)","description":"관리자가 필터링 및 페이징을 통해 전체 문의사항 목록을 조회합니다.","operationId":"getCsInquiry","parameters":[{"name":"category","in":"query","description":"문의 카테고리 필터","required":false,"schema":{"type":"string","enum":["GENERAL","BUG","SUGGESTION","OTHER"]}},{"name":"search","in":"query","description":"검색 키워드 (제목/내용)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":10,"minimum":1},"example":10},{"name":"lastInquiryId","in":"query","description":"마지막으로 조회된 문의 ID (커서 페이징용)","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"문의사항 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminCsInquiryListResponseDto"}}}}}},"post":{"tags":["고객 문의"],"summary":"문의 작성","description":"로그인한 사용자가 새로운 고객 문의를 작성합니다.","operationId":"writeCsInquiry","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CreateCsInquiryRequestDto"}}],"responses":{"201":{"description":"문의가 성공적으로 작성되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCsInquiryResponseDto"}}}}}}},"/api/cs-inquiry/{inquiryId}/reply":{"post":{"tags":["고객 문의"],"summary":"문의사항 답변 작성 (관리자)","description":"관리자가 특정 문의사항에 대한 답변을 작성합니다.","operationId":"replyToCsInquiry","parameters":[{"name":"inquiryId","in":"path","description":"답변할 문의 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyCsInquiryRequestDto"}}},"required":true},"responses":{"200":{"description":"답변이 성공적으로 작성되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyCsInquiryResponseDto"}}}}}}},"/api/admin/reports/{reportId}/sanctions":{"post":{"tags":["신고 관리(관리자)"],"summary":"신고 제재 등록","description":"관리자가 특정 신고에 대한 제재(정지, 경고 등)를 등록합니다.","operationId":"postReportSanction","parameters":[{"name":"reportId","in":"path","description":"신고 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminReportSanctionRequestDto"}}},"required":true},"responses":{"200":{"description":"제재가 성공적으로 등록되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminReportSanctionResponseDto"}}}}}}},"/api/reply/{replyId}":{"delete":{"tags":["댓글"],"summary":"댓글 삭제","description":"작성한 댓글을 삭제합니다.","operationId":"deleteReply","parameters":[{"name":"replyId","in":"path","description":"삭제할 댓글 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"댓글이 성공적으로 삭제되었습니다. (삭제된 댓글 ID 반환)","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}},"patch":{"tags":["댓글"],"summary":"댓글 수정","description":"작성한 댓글의 내용을 수정합니다.","operationId":"updateReply","parameters":[{"name":"replyId","in":"path","description":"수정할 댓글 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchReplyRequestDto"}}},"required":true},"responses":{"200":{"description":"댓글이 성공적으로 수정되었습니다. (수정된 댓글 ID 반환)","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/plan/{planId}":{"get":{"tags":["플랜"],"summary":"플랜 상세 조회","description":"특정 플랜의 상세 정보를 조회합니다.","operationId":"getPlanDetail","parameters":[{"name":"planId","in":"path","description":"플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"플랜 상세 정보를 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanDetailDto"}}}}}},"delete":{"tags":["플랜"],"summary":"플랜 삭제","description":"현재 로그인한 사용자가 작성한 플랜을 삭제합니다.","operationId":"deletePlan","parameters":[{"name":"planId","in":"path","description":"삭제할 플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"204":{"description":"플랜이 성공적으로 삭제되었습니다."}}},"patch":{"tags":["플랜"],"summary":"플랜 수정","description":"플랜의 기본 정보 및 수정 가능한 여행 정보를 변경합니다.","operationId":"updatePlan","parameters":[{"name":"planId","in":"path","description":"수정할 플랜 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePlanRequestDto"}}},"required":true},"responses":{"200":{"description":"플랜이 성공적으로 수정되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdatePlanResponseDto"}}}}}}},"/api/mypage/profile":{"get":{"tags":["마이페이지"],"summary":"마이페이지 프로필 조회","description":"마이페이지에 표시할 내 프로필 정보를 조회합니다.","operationId":"getMypageProfile","responses":{"200":{"description":"프로필 정보를 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponseDto"}}}}}},"patch":{"tags":["마이페이지"],"summary":"회원 프로필 수정","description":"내 프로필 정보를 수정합니다.","operationId":"setUserProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserProfileRequest"}}},"required":true},"responses":{"202":{"description":"프로필이 성공적으로 수정되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponseDto"}}}}}}},"/api/cs-inquiry/{inquiryId}":{"delete":{"tags":["고객 문의"],"summary":"문의 삭제","description":"작성자가 본인의 고객 문의를 삭제합니다.","operationId":"deleteCsInquiry","parameters":[{"name":"inquiryId","in":"path","description":"삭제할 문의 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"문의가 성공적으로 삭제되었습니다.","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"patch":{"tags":["고객 문의"],"summary":"문의 수정","description":"작성자가 본인의 고객 문의를 수정합니다.","operationId":"patchCsInquiry","parameters":[{"name":"inquiryId","in":"path","description":"수정할 문의 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UpdateCsInquiryRequestDto"}}],"responses":{"200":{"description":"문의가 성공적으로 수정되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateCsInquiryResponseDto"}}}}}}},"/api/cs-inquiry/{inquiryId}/close":{"patch":{"tags":["고객 문의"],"summary":"문의 종료 (완료)","description":"작성자가 문의가 해결되었음을 확인하고 문의를 종료(완료) 처리합니다.","operationId":"closeCsInquiry","parameters":[{"name":"inquiryId","in":"path","description":"종료할 문의 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"문의가 성공적으로 종료되었습니다."}}}},"/api/admin/reports/{reportId}":{"get":{"tags":["신고 관리(관리자)"],"summary":"신고 상세 조회","description":"관리자가 특정 신고의 상세 내용을 조회합니다.","operationId":"getReport","parameters":[{"name":"reportId","in":"path","description":"신고 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"신고 상세 정보를 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminReportDetailResponseDto"}}}}}},"patch":{"tags":["신고 관리(관리자)"],"summary":"신고 상태 변경","description":"관리자가 특정 신고의 처리 상태를 변경합니다.","operationId":"patchReportStatus","parameters":[{"name":"reportId","in":"path","description":"신고 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminReportStatusChangeRequestDto"}}},"required":true},"responses":{"200":{"description":"신고 상태가 성공적으로 변경되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminReportDetailResponseDto"}}}}}}},"/api/sign/userinfo":{"get":{"tags":["인증"],"summary":"사용자 정보 조회","description":"현재 로그인한 사용자의 이메일과 권한 정보를 조회합니다.","operationId":"userInfo","responses":{"200":{"description":"사용자 정보가 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/sign/reissue":{"get":{"tags":["인증"],"summary":"토큰 재발급","description":"리프레시 토큰을 기반으로 액세스 토큰을 재발급합니다.","operationId":"reissueToken","responses":{"200":{"description":"토큰이 성공적으로 재발급되었습니다.","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/report/reason":{"get":{"tags":["신고"],"summary":"신고 사유 목록 조회","description":"신고 유형에 따른 신고 사유 목록을 조회합니다.","operationId":"getReportReason","parameters":[{"name":"type","in":"query","description":"신고 유형","required":true,"schema":{"type":"string","enum":["PLAN","REPLY","USER"]},"example":"PLAN"}],"responses":{"200":{"description":"신고 사유 목록을 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportReasonResponseDto"}}}}}}},"/api/reply/{parentReplyId}/children":{"get":{"tags":["댓글"],"summary":"대댓글 목록 조회","description":"특정 부모 댓글의 대댓글(답글) 목록을 페이징하여 조회합니다. (비로그인 사용자도 조회 가능)","operationId":"getChildReplies","parameters":[{"name":"parentReplyId","in":"path","description":"부모 댓글 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"lastReplyId","in":"query","description":"마지막으로 조회된 대댓글 ID (커서 페이징용)","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"대댓글 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyListResponse"}}}}}}},"/api/plan/popular":{"get":{"tags":["플랜"],"summary":"내 주변 인기 플랜 조회","description":"위도/경도를 기준으로 내 주변의 인기 플랜 목록을 페이지 단위로 조회합니다.","operationId":"getPopularPlans","parameters":[{"name":"lat","in":"query","description":"위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5665},{"name":"lng","in":"query","description":"경도","required":true,"schema":{"type":"number","format":"double"},"example":126.978},{"name":"limit","in":"query","description":"페이지당 조회 개수","required":false,"schema":{"type":"integer","format":"int32","default":5},"example":5},{"name":"page","in":"query","description":"페이지 번호","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1}],"responses":{"200":{"description":"내 주변 인기 플랜 목록을 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PopularPlanResponseDto"}}}}}}},"/api/plan/popular/nationwide":{"get":{"tags":["플랜"],"summary":"전국 인기 플랜 조회","description":"전국 기준 인기 플랜 목록을 페이지 단위로 조회합니다.","operationId":"getNationwidePopularPlans","parameters":[{"name":"limit","in":"query","description":"페이지당 조회 개수","required":false,"schema":{"type":"integer","format":"int32","default":3},"example":3},{"name":"page","in":"query","description":"페이지 번호","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1}],"responses":{"200":{"description":"전국 인기 플랜 목록을 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PopularPlanResponseDto"}}}}}}},"/api/place/{placeId}":{"get":{"tags":["장소"],"summary":"장소 상세 조회","description":"특정 장소의 상세 정보를 조회합니다.","operationId":"getPlaceDetail","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"장소 상세 정보가 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaceDetailResponseDto"}}}}}}},"/api/place/{placeId}/plan":{"get":{"tags":["장소"],"summary":"장소가 포함된 코스 조회","description":"특정 장소가 포함된 공개 코스 목록을 조회합니다.","operationId":"getPlansContainingPlace","parameters":[{"name":"placeId","in":"path","description":"장소 ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"코스 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PopularPlanItemDto"}}}}}}}},"/api/place/search":{"get":{"tags":["장소"],"summary":"장소 검색","description":"키워드를 기반으로 장소 목록을 검색합니다.","operationId":"searchPlace","parameters":[{"name":"keyword","in":"query","description":"검색 키워드","required":true,"schema":{"type":"string"},"example":"카페"}],"responses":{"200":{"description":"장소 검색 결과가 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchPlaceResponseDto"}}}}}}}},"/api/place/popular":{"get":{"tags":["장소"],"operationId":"getPopularPlaces","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"lng","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PopularPlaceResponseDto"}}}}}}},"/api/place/popular/nationwide":{"get":{"tags":["장소"],"operationId":"getNationwidePopularPlaces","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":6}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PopularPlaceResponseDto"}}}}}}},"/api/mypage/summary":{"get":{"tags":["마이페이지"],"summary":"마이페이지 요약 정보 조회","description":"마이페이지에 표시할 내 활동 요약 정보를 조회합니다.","operationId":"getMyPageSummary","responses":{"200":{"description":"요약 정보를 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileSummaryResponseDto"}}}}}}},"/api/mypage/scrapped":{"get":{"tags":["마이페이지"],"summary":"스크랩한 플랜 목록 조회","description":"내가 스크랩한 플랜 목록을 조회합니다.","operationId":"getScrappedPlan","responses":{"200":{"description":"스크랩한 플랜 목록을 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScrappedPlanResponseDto"}}}}}}},"/api/mypage/plans":{"get":{"tags":["마이페이지"],"summary":"내 플랜 목록 조회","description":"내가 작성한 플랜 목록을 조회합니다.","operationId":"getMyPlans","responses":{"200":{"description":"내 플랜 목록을 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MyPlansResponse"}}}},"204":{"description":"조회된 플랜이 없습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MyPlansResponse"}}}}}}},"/api/exception/entry-point":{"get":{"tags":["exception-controller"],"operationId":"authenticateException","responses":{"200":{"description":"OK"}}}},"/api/exception/access-denied":{"get":{"tags":["exception-controller"],"operationId":"accessDeniedException","responses":{"200":{"description":"OK"}}}},"/api/cs-inquiry/my":{"get":{"tags":["고객 문의"],"summary":"내가 작성한 문의 목록 조회","description":"로그인한 사용자가 본인이 작성한 문의 목록을 페이징하여 조회합니다.","operationId":"getUserCsInquiry","parameters":[{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":10,"minimum":1},"example":10},{"name":"lastInquiryId","in":"query","description":"마지막으로 조회된 문의 ID (커서 페이징용)","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"내가 작성한 문의 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserCsInquiryListResponseDto"}}}}}}},"/api/cs-inquiry/category":{"get":{"tags":["고객 문의"],"summary":"문의 카테고리 목록 조회","description":"고객 문의 시 선택할 수 있는 카테고리(타입) 목록을 조회합니다.","operationId":"getCsInquiryCategory","responses":{"200":{"description":"카테고리 목록이 성공적으로 조회되었습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryTypeListResponseDto"}}}}}}},"/api/admin/reports":{"get":{"tags":["신고 관리(관리자)"],"summary":"신고 목록 조회","description":"관리자가 조건에 맞는 신고 목록을 조회합니다.","operationId":"getReports","parameters":[{"name":"adminReportRequestDto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AdminReportRequestDto"}}],"responses":{"200":{"description":"신고 목록을 성공적으로 조회했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminReportResponseDto"}}}}}}},"/api/sign/delete":{"delete":{"tags":["인증"],"operationId":"deleteUser","responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"CreateReportRequestDto":{"type":"object","properties":{"targetType":{"type":"string","enum":["PLAN","REPLY","USER"]},"targetId":{"type":"integer","format":"int32"},"reasonCode":{"type":"string","enum":["SPAM_AD","FAKE_INFO","OBSCENE","ABUSE","COPYRIGHT","IMPROPER_PROFILE","IMPERSONATION","PERSONAL_INFO_LEAK","ETC"]},"detail":{"type":"string"}},"required":["reasonCode","targetId","targetType"]},"CreateReportResponseDto":{"type":"object","properties":{"reportId":{"type":"integer","format":"int32"},"reportType":{"type":"string","enum":["PLAN","REPLY","USER"]},"status":{"type":"string","enum":["PENDING","REVIEWING","RESOLVED","REJECTED"]},"alreadyReported":{"type":"boolean"},"isAutoBlinded":{"type":"boolean"}}},"CreateReplyRequestDto":{"type":"object","properties":{"content":{"type":"string"},"parentReplyId":{"type":"integer","format":"int32"},"mentions":{"type":"array","items":{"type":"integer","format":"int32"}}}},"SearchLogSaveRequest":{"type":"object","properties":{"name":{"type":"string"}}},"PlanDetailDto":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"},"planTitle":{"type":"string"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"},"createAt":{"type":"string","format":"date-time"},"planVerified":{"type":"boolean"},"isPlanVisible":{"type":"boolean"},"isBookmarked":{"type":"boolean"},"isLiked":{"type":"boolean"},"requiredTime":{"type":"integer","format":"int32"},"totalDistance":{"type":"integer","format":"int32"},"planDescription":{"type":"string"},"likeCount":{"type":"integer","format":"int32"},"bookmarkCount":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"userNickname":{"type":"string"},"userAvatar":{"type":"string"},"planImageUrls":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}},"thumbnailUrl":{"type":"string"},"planPlaceDetailDtos":{"type":"array","items":{"$ref":"#/components/schemas/PlanPlaceDetailDto"}}}},"PlanPlaceDetailDto":{"type":"object","properties":{"planPlaceId":{"type":"integer","format":"int32"},"placeId":{"type":"integer","format":"int32"},"placeImage":{"type":"string"},"placeName":{"type":"string"},"categoryName":{"type":"string"},"address":{"type":"string"},"roadAddress":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"},"visitTime":{"type":"string"},"stayDescription":{"type":"string"},"isStamped":{"type":"boolean"},"travelTime":{"type":"integer","format":"int32"},"stayTime":{"type":"integer","format":"int32"}}},"PlanCopyRequestDto":{"type":"object","properties":{"scheduledDate":{"type":"string","format":"date"}}},"PlanCopyResponseDto":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"},"originalPlanId":{"type":"integer","format":"int32"},"createAt":{"type":"string","format":"date-time"}}},"ScrappedPlanCreateResponseDto":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"},"isBookmarked":{"type":"boolean"},"bookmarkCount":{"type":"integer","format":"int32"}}},"CreatePlanPlaceRequest":{"type":"object","properties":{"placeId":{"type":"integer","format":"int32"},"order":{"type":"integer","format":"int32"},"travelTime":{"type":"integer","format":"int32"},"stayTime":{"type":"integer","format":"int32"}}},"CreatePlanRequestDto":{"type":"object","properties":{"planTitle":{"type":"string"},"isPlanVisible":{"type":"boolean"},"planDescription":{"type":"string"},"requiredTime":{"type":"integer","format":"int32"},"totalDistance":{"type":"integer","format":"int32"},"departurePoint":{"$ref":"#/components/schemas/DeparturePointDto"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"},"places":{"type":"array","items":{"$ref":"#/components/schemas/CreatePlanPlaceRequest"}}}},"DeparturePointDto":{"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"CreatePlanResponseDto":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"},"planTitle":{"type":"string"},"createAt":{"type":"string","format":"date-time"},"planVisible":{"type":"boolean"}}},"Location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"StampPlanPlaceRequestDto":{"type":"object","properties":{"image":{"type":"string","format":"binary"},"location":{"$ref":"#/components/schemas/Location"}}},"StampPlanPlaceResponseDto":{"type":"object","properties":{"planPlaceId":{"type":"integer","format":"int32"},"isStamped":{"type":"boolean"},"verifiedImage":{"type":"string"},"stampedAt":{"type":"string","format":"date-time"}}},"UpdatePlanPlaceItemDto":{"type":"object","properties":{"planPlaceId":{"type":"integer","format":"int32"},"placeId":{"type":"integer","format":"int32"},"order":{"type":"integer","format":"int32"}}},"UpdatePlanPlaceRequestDto":{"type":"object","properties":{"departurePoint":{"$ref":"#/components/schemas/DeparturePointDto"},"places":{"type":"array","items":{"$ref":"#/components/schemas/UpdatePlanPlaceItemDto"}}}},"UpdatePlanPlaceResponseDto":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"}}},"PlanPlacePreview":{"type":"object","properties":{"placeId":{"type":"integer","format":"int32"},"placeName":{"type":"string"},"addressName":{"type":"string"},"roadAddressName":{"type":"string"},"categoryName":{"type":"string"},"duration":{"type":"integer","format":"int32"},"order":{"type":"integer","format":"int32"},"stayTime":{"type":"integer","format":"int32"},"isStamped":{"type":"boolean"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"UpdatePlanPreviewResponseDto":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"},"planTitle":{"type":"string"},"planDescription":{"type":"string"},"isPlanVisible":{"type":"boolean"},"requiredTime":{"type":"integer","format":"int32"},"totalDistance":{"type":"integer","format":"int32"},"departurePoint":{"$ref":"#/components/schemas/DeparturePointDto"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"},"places":{"type":"array","items":{"$ref":"#/components/schemas/PlanPlacePreview"}}}},"CreatePlanPreviewRequestDto":{"type":"object","properties":{"planTitle":{"type":"string"},"planDescription":{"type":"string"},"isPlanVisible":{"type":"boolean"},"departurePoint":{"$ref":"#/components/schemas/DeparturePointDto"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"},"places":{"type":"array","items":{"$ref":"#/components/schemas/Place"}}}},"Place":{"type":"object","properties":{"placeId":{"type":"integer","format":"int32"},"order":{"type":"integer","format":"int32"}}},"CreatePlanPreviewResponseDto":{"type":"object","properties":{"planTitle":{"type":"string"},"planDescription":{"type":"string"},"isPlanVisible":{"type":"boolean"},"requiredTime":{"type":"integer","format":"int32"},"totalDistance":{"type":"integer","format":"int32"},"departurePoint":{"$ref":"#/components/schemas/DeparturePointDto"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"},"places":{"type":"array","items":{"$ref":"#/components/schemas/PlanPlacePreview"}}}},"ScrappedPlaceCreateResponseDto":{"type":"object","properties":{"placeId":{"type":"integer","format":"int32"},"isBookmarked":{"type":"boolean"},"bookmarkCount":{"type":"integer","format":"int32"}}},"PlaceReviewRequestDto":{"type":"object","properties":{"content":{"type":"string","maxLength":1000,"minLength":0}}},"PlaceReviewResponseDto":{"type":"object","properties":{"reviewId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"userNickname":{"type":"string"},"userImg":{"type":"string"},"content":{"type":"string"},"createAt":{"type":"string","format":"date-time"}}},"LikeResponseDto":{"type":"object","properties":{"isLiked":{"type":"boolean"},"likeCount":{"type":"integer","format":"int32"}}},"SurveyResultDto":{"type":"object","properties":{"emotion":{"type":"string"},"startTime":{"type":"string"},"endTime":{"type":"string"},"transport":{"type":"string"},"location":{"$ref":"#/components/schemas/Location"}}},"CreateCsInquiryRequestDto":{"type":"object","properties":{"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1},"inquiryType":{"type":"string","enum":["GENERAL","BUG","SUGGESTION","OTHER"]},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["inquiryType"]},"CreateCsInquiryResponseDto":{"type":"object","properties":{"inquiryId":{"type":"integer","format":"int32"},"title":{"type":"string"},"inquiryType":{"type":"string","enum":["GENERAL","BUG","SUGGESTION","OTHER"]},"inquiryStatus":{"type":"string","enum":["OPEN","IN_PROGRESS","RESOLVED","CLOSED"]},"createdAt":{"type":"string","format":"date-time"}}},"ReplyCsInquiryRequestDto":{"type":"object","properties":{"content":{"type":"string","minLength":1}}},"ReplyCsInquiryResponseDto":{"type":"object","properties":{"answerId":{"type":"integer","format":"int32"},"inquiryId":{"type":"integer","format":"int32"},"content":{"type":"string"},"answeredBy":{"type":"string"},"answeredAt":{"type":"string","format":"date-time"}}},"AdminReportSanctionRequestDto":{"type":"object","properties":{"type":{"type":"string","enum":["CONTENT_BLINDED","WARNING","PERMANENT_BAN","TEMP_BAN"]},"durationDays":{"type":"integer","format":"int32"},"message":{"type":"string","minLength":1},"resolution":{"type":"string","enum":["BLINDED","WARNED","BANNED","NO_ACTION"]}},"required":["resolution","type"]},"AdminReportDetailResponseDto":{"type":"object","properties":{"reportId":{"type":"integer","format":"int32"},"resolution":{"type":"string","enum":["BLINDED","WARNED","BANNED","NO_ACTION"]},"reasonCode":{"type":"string","enum":["SPAM_AD","FAKE_INFO","OBSCENE","ABUSE","COPYRIGHT","IMPROPER_PROFILE","IMPERSONATION","PERSONAL_INFO_LEAK","ETC"]},"status":{"type":"string","enum":["PENDING","REVIEWING","RESOLVED","REJECTED"]},"reporterId":{"type":"integer","format":"int32"},"reporterNickname":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"assignedOperator":{"type":"integer","format":"int32"},"reportCount":{"type":"integer","format":"int32"},"autoBlinded":{"type":"boolean"},"detail":{"type":"string"},"target":{"$ref":"#/components/schemas/ReportTargetDto"},"histories":{"type":"array","items":{"$ref":"#/components/schemas/History"}},"relatedReports":{"type":"array","items":{"$ref":"#/components/schemas/RelatedReport"}}}},"AdminReportSanctionResponseDto":{"type":"object","properties":{"sanctionId":{"type":"integer","format":"int32"},"adminReportDetailResponseDto":{"$ref":"#/components/schemas/AdminReportDetailResponseDto"}}},"History":{"type":"object","properties":{"status":{"type":"string","enum":["PENDING","REVIEWING","RESOLVED","REJECTED"]},"at":{"type":"string","format":"date-time"},"actor":{"type":"string"},"note":{"type":"string"}}},"RelatedReport":{"type":"object","properties":{"reportId":{"type":"integer","format":"int32"},"reasonCode":{"type":"string","enum":["SPAM_AD","FAKE_INFO","OBSCENE","ABUSE","COPYRIGHT","IMPROPER_PROFILE","IMPERSONATION","PERSONAL_INFO_LEAK","ETC"]},"reporterNickname":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ReportTargetDto":{"type":"object","properties":{"type":{"type":"string","enum":["PLAN","REPLY","USER"]},"id":{"type":"integer","format":"int32"},"ownerId":{"type":"string"},"title":{"type":"string"},"contextUrl":{"type":"string"}}},"PatchReplyRequestDto":{"type":"object","properties":{"content":{"type":"string"},"mentions":{"type":"array","items":{"type":"integer","format":"int32"}}}},"UpdatePlanRequestDto":{"type":"object","properties":{"planTitle":{"type":"string"},"isPlanVisible":{"type":"boolean"},"planDescription":{"type":"string"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"}}},"UpdatePlanResponseDto":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"}}},"UpdateUserProfileRequest":{"type":"object","properties":{"newUserNickname":{"type":"string"},"newUserIntro":{"type":"string"},"newUserProfileImg":{"type":"string"}}},"UserProfileResponseDto":{"type":"object","properties":{"userNickname":{"type":"string"},"userImg":{"type":"string"},"userIntro":{"type":"string"}}},"UpdateCsInquiryRequestDto":{"type":"object","properties":{"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1},"inquiryType":{"type":"string","enum":["GENERAL","BUG","SUGGESTION","OTHER"]},"newImages":{"type":"array","items":{"type":"string","format":"binary"}},"deleteImageIds":{"type":"array","items":{"type":"integer","format":"int32"}}},"required":["inquiryType"]},"UpdateCsInquiryResponseDto":{"type":"object","properties":{"inquiryId":{"type":"integer","format":"int32"},"title":{"type":"string"},"content":{"type":"string"},"inquiryType":{"type":"string","enum":["GENERAL","BUG","SUGGESTION","OTHER"]},"inquiryStatus":{"type":"string","enum":["OPEN","IN_PROGRESS","RESOLVED","CLOSED"]},"updatedAt":{"type":"string","format":"date-time"}}},"AdminReportStatusChangeRequestDto":{"type":"object","properties":{"status":{"type":"string","enum":["PENDING","REVIEWING","RESOLVED","REJECTED"]},"note":{"type":"string"}}},"ReasonItem":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"},"requiresContent":{"type":"boolean"}}},"ReportReasonResponseDto":{"type":"object","properties":{"reportType":{"type":"string","enum":["PLAN","REPLY","USER"]},"reasonItems":{"type":"array","items":{"$ref":"#/components/schemas/ReasonItem"}}}},"Mention":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"userNickname":{"type":"string"}}},"ReplyListResponse":{"type":"object","properties":{"replies":{"type":"array","items":{"$ref":"#/components/schemas/ReplyResponse"}},"hasNext":{"type":"boolean"}}},"ReplyResponse":{"type":"object","properties":{"replyId":{"type":"integer","format":"int32"},"parentReplyId":{"type":"integer","format":"int32"},"user":{"type":"string"},"userId":{"type":"integer","format":"int32"},"avatar":{"type":"string"},"content":{"type":"string"},"mentions":{"type":"array","items":{"$ref":"#/components/schemas/Mention"}},"createdAt":{"type":"string","format":"date-time"},"likeCount":{"type":"integer","format":"int32"},"isLiked":{"type":"boolean"},"replyCount":{"type":"integer","format":"int32"},"isDeleted":{"type":"boolean"},"replies":{"$ref":"#/components/schemas/ReplyListResponse"}}},"SearchLog":{"type":"object","properties":{"name":{"type":"string"},"createdAt":{"type":"string"}}},"PopularPlanItemDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"title":{"type":"string"},"description":{"type":"string"},"thumbnail":{"type":"string"},"location":{"type":"string"},"duration":{"type":"string"},"likes":{"type":"integer","format":"int32"},"ranking":{"type":"integer","format":"int32"}}},"PopularPlanResponseDto":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PopularPlanItemDto"}},"page":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"totalCount":{"type":"integer","format":"int32"}}},"PlaceDetailResponseDto":{"type":"object","properties":{"placeId":{"type":"integer","format":"int32"},"placeName":{"type":"string"},"addressName":{"type":"string"},"roadAddressName":{"type":"string"},"categoryName":{"type":"string"},"phone":{"type":"string"},"placeUrl":{"type":"string"},"placeImageUrl":{"type":"string"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"PlaceReviewListResponseDto":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PlaceReviewResponseDto"}},"hasNext":{"type":"boolean"}}},"SearchPlaceResponseDto":{"type":"object","properties":{"placeId":{"type":"integer","format":"int32"},"placeImageUrl":{"type":"string"},"categoryName":{"type":"string"},"placeName":{"type":"string"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"PopularPlaceItemDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"category":{"type":"string"},"location":{"type":"string"},"image":{"type":"string"},"ranking":{"type":"integer","format":"int32"}}},"PopularPlaceResponseDto":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PopularPlaceItemDto"}},"page":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"totalCount":{"type":"integer","format":"int32"}}},"UserProfileSummaryResponseDto":{"type":"object","properties":{"publicPlanCount":{"type":"integer","format":"int32"},"verifyPlanCount":{"type":"integer","format":"int32"},"scrappedByOthersCount":{"type":"integer","format":"int32"},"savedCourseCount":{"type":"integer","format":"int32"}}},"ScrappedPlanResponseDto":{"type":"object","properties":{"scrappedPlans":{"type":"array","items":{"$ref":"#/components/schemas/ScrappedPlanSummary"}}}},"ScrappedPlanSummary":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"},"planTitle":{"type":"string"},"createAt":{"type":"string","format":"date-time"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"},"isPlanVisible":{"type":"boolean"},"requiredTime":{"type":"integer","format":"int32"},"planImages":{"type":"array","items":{"type":"string"}}}},"MyPlansResponse":{"type":"object","properties":{"plans":{"type":"array","items":{"$ref":"#/components/schemas/PlanSummary"}}}},"PlanSummary":{"type":"object","properties":{"planId":{"type":"integer","format":"int32"},"planTitle":{"type":"string"},"createAt":{"type":"string","format":"date-time"},"tripStartDate":{"type":"string","format":"date-time"},"tripEndDate":{"type":"string","format":"date-time"},"isPlanVisible":{"type":"boolean"},"requiredTime":{"type":"integer","format":"int32"},"planImages":{"type":"array","items":{"type":"string"}}}},"AdminCsInquiryItemDto":{"type":"object","properties":{"inquiryId":{"type":"integer","format":"int32"},"title":{"type":"string"},"inquiryType":{"type":"string","enum":["GENERAL","BUG","SUGGESTION","OTHER"]},"inquiryStatus":{"type":"string","enum":["OPEN","IN_PROGRESS","RESOLVED","CLOSED"]},"hasAnswer":{"type":"boolean"},"authorNickname":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"AdminCsInquiryListResponseDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AdminCsInquiryItemDto"}},"nextCursorId":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"totalCount":{"type":"integer","format":"int64"}}},"UserCsInquiryItemDto":{"type":"object","properties":{"inquiryId":{"type":"integer","format":"int32"},"title":{"type":"string"},"inquiryType":{"type":"string","enum":["GENERAL","BUG","SUGGESTION","OTHER"]},"inquiryStatus":{"type":"string","enum":["OPEN","IN_PROGRESS","RESOLVED","CLOSED"]},"hasAnswer":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"UserCsInquiryListResponseDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/UserCsInquiryItemDto"}},"nextCursorId":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"InquiryTypeListResponseDto":{"type":"object","properties":{"categories":{"type":"array","items":{"$ref":"#/components/schemas/InquiryTypeResponseDto"}}}},"InquiryTypeResponseDto":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"}}},"AdminReportRequestDto":{"type":"object","properties":{"status":{"type":"string","enum":["PENDING","REVIEWING","RESOLVED","REJECTED"]},"targetType":{"type":"string","enum":["PLAN","REPLY","USER"]},"reasonCode":{"type":"string","enum":["SPAM_AD","FAKE_INFO","OBSCENE","ABUSE","COPYRIGHT","IMPROPER_PROFILE","IMPERSONATION","PERSONAL_INFO_LEAK","ETC"]},"q":{"type":"string"},"page":{"type":"integer","format":"int32","minimum":1},"size":{"type":"integer","format":"int32","maximum":100,"minimum":1},"sort":{"type":"string","enum":["CREATED_DESC","CREATED_ASC","REPORT_COUNT_DESC"]},"autoBlindedOnly":{"type":"boolean"}}},"AdminReportItem":{"type":"object","properties":{"reportId":{"type":"integer","format":"int32"},"reasonCode":{"type":"string","enum":["SPAM_AD","FAKE_INFO","OBSCENE","ABUSE","COPYRIGHT","IMPROPER_PROFILE","IMPERSONATION","PERSONAL_INFO_LEAK","ETC"]},"status":{"type":"string","enum":["PENDING","REVIEWING","RESOLVED","REJECTED"]},"reporterId":{"type":"integer","format":"int32"},"reporterNickname":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"assignedOperator":{"type":"string"},"reportCount":{"type":"integer","format":"int32"},"autoBlinded":{"type":"boolean"},"target":{"$ref":"#/components/schemas/ReportTargetDto"}}},"AdminReportResponseDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AdminReportItem"}},"totalCount":{"type":"integer","format":"int64"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"SearchLogDeleteRequest":{"type":"object","properties":{"name":{"type":"string"},"createdAt":{"type":"string"}}}},"securitySchemes":{"jwtAuth":{"type":"http","name":"jwtAuth","scheme":"bearer","bearerFormat":"JWT"}}}}